%h1 Your products
%ul
  = form_tag invoice_path, :method => :post do
    - @items.each do |item|
      - product = Product.find item.id
      %li
        %b= label_tag product.title
        %p
          = item.quantity
          = button_tag "N", {class: "icon"}
          - @subtotal += product.price
    %p
      = "$#{@subtotal}"
      %br
      Free shipping
    %h1 Your details
    = text_field_tag :first_name, "", {placeholder: "First Name"}
    = text_field_tag :last_name, "", {placeholder: "Last Name"}
    = text_field_tag :number, "", {placeholder: "Credit Card"}
    = text_field_tag :month, "", {placeholder: "Month"}
    = text_field_tag :year, "", {placeholder: "Year"}
    = text_field_tag :verification_value, "", {placeholder: "Security Code"}
    = submit_tag :Purchase