%h1 Invoice
%ul
  - @ordered_items.each do |item|
    %li
      %b
        = item.product.title
      = "." * (90 - item.product.title.size)
      %b= item.quantity
      x
      %b= item.price
      \=
      %b= item.quantity * item.price
  %li
    
    %b= "Sub Total    : #{@total.currency}"
    %br
    %b= "PST: (#{(@order.pst).percent}) : #{@pst_value.currency}" unless @order.pst.zero?
    %br
    %b
      %u= "GST: (#{(@order.gst).percent}) : #{@gst_value.currency}" unless @order.gst.zero?
    %br
    %b
      %u= "HST: (#{(@order.hst).percent}) : #{@hst_value.currency}" unless @order.hst.zero?
    %br
    %b= "Grand Total  : #{@grand_total.currency}"
