!!! 5
%html
  %head
    %title Compuzza!
  = stylesheet_link_tag    "application", :media => "all"
  /  Removed for now - weird windows error.
  /= javascript_include_tag "application"
  = csrf_meta_tags
  %body
    %header
      %h1 Compuzza Computers
    %nav
      %ul
        %li wazup
        %li home
        %li hotdogs
        %li cool
      = form_tag search_path, :method => :post do
        = text_field_tag :query, "", {placeholder: "Search", class: "search"}
        = submit_tag "L", {class: "icon"}
    #wrapper
      %section#content
        = yield
      %aside
        %h3 Product Categories
        %section
          - Category.all.each do |category|
            %p= link_to category.title, categories_path(category)
        %h3 
          %span.icon !
          Your cart
        %section
          - if session[:cart].nil?
            %p Cart is empty
          - else
            - session[:cart].each do  |cart_item|
              %p
                (
                = pluralize cart_item.quantity, ") " + cart_item.title

      %footer
        %p Copyright Compuzza 2039