!!! 5
%html
  %head
    %title Compuzza!
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %body
    %header
      %h1 Compuzza
      %nav
        %ul
          %li= link_to "Shop", "#"
          %li= link_to "About Us", "#", class: "current"
          %li= link_to "Contact", "#"
        = form_tag search_path, :method => :post do
          #search_button.icon
            N
          = text_field_tag :product, "", {placeholder: "Search", class: "search"}
        
    #wrapper
      %aside
        %section#aside_box
          %h3 Categories
          %ul
            - Category.all.each do |category|
              %li= link_to category.title, category_path(category)
        %section#aside_box
          %h3 Shopping Cart
          %ul
            - if session[:cart].nil?
              %li Cart is empty
            - else
              - total = 0
              - session[:cart].each do  |cart_item|
                %li
                  %b
                    = cart_item.quantity
                  = cart_item.product.title
              %li
                = link_to "Checkout", checkout_path
                
      %section#content
        = yield

      %footer
        %p Copyright Compuzza 2039