!!! 5
%html
  %head
    %title Compuzza!
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %h1= link_to "Compuzza", root_path
      %nav
        %ul
          %li= link_to "Shop", "#"
          %li= link_to "About Us", "/about", class: "current"
          %li= link_to "Contact", "/contact"
        = form_tag search_path, :method => :get do
          #search_button.icon
            O
          = text_field_tag :product, "", {placeholder: "Search", class: "search"}

    - flash.each do |key, msg|
      %div= key
      %p= link_to_function 'X', "Effect.Fade('#{key}')"
      %p= msg

    #wrapper
      %aside
        %section.aside_box
          %h3 Categories
          %ul
            - @categorie.each do |category|
              %li= link_to category.title, category_path(category)
        %section.aside_box
          %h3 Shopping Cart
          %ul
            - if session[:cart].nil? || !session[:cart].items.any?
              %li Cart is empty
            - else
              - total = 0
              - session[:cart].items.each do  |item|
                %li
                  %b
                    = item.quantity
                  = item.title
              %li
                = link_to "Checkout", checkout_path
                
      %section#content
        = yield

      %footer
        %p Copyright Compuzza 2039